@model IEnumerable<Storage5.Models.ProductViewModel>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

@*<p>
    <a asp-action="InventoryTotal">InventoryTotal</a>


    <h1>@Html.DisplayNameFor(InventoryTotal())</h1>


</p>*@





